@if(optionMenu() === 'pay') {
<button class="btn btn-success" (click)="openModal('pay', detalleClient()!)">Pagar</button>

  <dialog [id]="'modal_pay_' + detalleClient()?.id" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>

      <div role="alert" class="alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <span>¿Estás seguro de confirmar el pago? a <strong>{{ detalleClient()?.fullName | titlecase }}</strong>?</span>
      </div>

      <p class="py-4">Esta acción no se puede deshacer.</p>

      <div class="modal-action">
        <form method="dialog" class="flex flex-row gap-4">
          <button class="btn btn-success" (click)="confirmAction()">Proceder</button>
          <button class="btn btn-error">Cancelar</button>
        </form>
      </div>
    </div>
  </dialog>
}

@if(optionMenu() === 'delete') {
  <button class="btn btn-error" (click)="openModal('delete',this.detalleClient()!)">

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="24" stroke-dashoffset="24" d="M12 20h5c0.5 0 1 -0.5 1 -1v-14M12 20h-5c-0.5 0 -1 -0.5 -1 -1v-14"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="24;0"/></path><path stroke-dasharray="20" stroke-dashoffset="20" d="M4 5h16"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.2s" values="20;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M10 4h4M10 9v7M14 9v7"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="8;0"/></path></g></svg>


  </button>

  <dialog [id]="'modal_delete_' + detalleClient()?.id" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>

      <div role="alert" class="alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <span>¿Estás seguro de eliminar a <strong>{{ detalleClient()?.fullName | titlecase }}</strong>?</span>
      </div>

      <p class="py-4">Esta acción no se puede deshacer.</p>

      <div class="modal-action">
        <form method="dialog" class="flex flex-row gap-4">
          <button class="btn btn-success" (click)="confirmAction()">Proceder</button>
          <button class="btn btn-error">Cancelar</button>
        </form>
      </div>
    </div>
  </dialog>
}

<!-- OPCIONAL -->
@if(optionMenu() ==='mas'){ 
 <button class="btn" [attr.data-id]="detalleClient()?.id" (click)="openModal('mas', detalleClient()!)">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
 </button>

  <dialog [id]="'modal_mas_' + detalleClient()?.id" class="modal" #modalMas>
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"  >✕</button>
      </form>

      <div role="alert" class="alert alert-info">
        <span>Detalle del cliente</span>    
      </div>
       <div class="divider"></div>
      <div class="grid grid-cols-2 grid-rows-5 gap-4 bg-base-300 p-2.5">
        <div>Numero de Identificación:</div>
        <div class="col-start-2">{{ detalleClient()?.nit | number }}</div>
        <div>Nombre Completo:</div>
        <div class="col-start-2">{{ detalleClient()?.fullName | titlecase }}</div>
        <div>Correo:</div>
        <div class="col-start-2">{{ detalleClient()?.email }}</div>
        <div>Credito:</div>
        <div class="col-start-2">{{ detalleClient()?.loans | currency:'COP':'$':'1.2-2' }}</div>
        <div>Fecha de Pago:</div>
        <div class="col-start-2">{{ detalleClient()?.payDate }}</div>
      </div>
    </div>
  </dialog>
}
