<section class="flex flex-col md:flex-row items-center justify-center gap-6 md:gap-20 mt-10 mb-5">

  <div class="card w-80 sm:w-96 bg-base-100 shadow-sm">
    <div class="card-body text-center md:text-left">
      <h2 class="card-title">Capital Disponible del Banco</h2>

      @if(capital()==0){
        <div role="alert" class="alert alert-info">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
          <span>Fodos Insuficiente</span>
       </div>
      }@else{
        <h1 class="text-3xl text-warning">{{capital() | currency:'COP': '$': '1.2-2'}}</h1>
      }
    </div>
  </div>

  <div class="card w-80 sm:w-96 bg-base-100 shadow-sm">
    <div class="card-body text-center md:text-left">
      <h2 class="card-title">Credito Prestado</h2>
      <h1 class="text-3xl text-error">{{loans() | currency:'COP': '$': '1.2-2'}}</h1>
    </div>
  </div>

</section>
