<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-200 m-4 sm:m-6 flex flex-col">

  <input
    type="number"
    placeholder="Buscar X Cc"
    class="input input-sm sm:input-md m-2.5 w-full max-w-xs"
    (keyup)="onSearch($event)"
  />

  <div class="w-full overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Monto</th>
          <th colspan="2" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of clients(); track item.id; let index = $index;) {
          <tr>
            <th>{{ index + 1 }}</th>
            <td>{{ item.fullName }}</td>
            <td>{{ item.loans | currency:'COP': '$': '1.2-2' }}</td>

            @if (typeRoute() != 'loans') {
              <td>
                <app-modal-confirmation [optionMenu]="`mas`" [idClient]=" item.id " ></app-modal-confirmation>
              </td>
              <td>
                <app-modal-confirmation [optionMenu]="`pay`" (proceed)="onDelete( item.id, $event)" ></app-modal-confirmation>
              </td>
            } @else if (typeRoute() === 'loans') {
              <td>
                <button class="btn btn-sm btn-outline btn-success w-full sm:w-auto" [routerLink]="['/lonsEdit', item.id]">Editar</button>
              </td>
              <td>
                <app-modal-confirmation [optionMenu]="`delete`"  (proceed)="onDelete( item.id, $event)"></app-modal-confirmation>
              </td>
            }

          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
