<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-200 m-6 flex flex-col ">

  <input type="number" placeholder="Buscar X Cc" class="input m-2.5"   (keyup)="onSearch($event)"/>

  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Monto</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    @for (item of clients();  track item.id; let index = $index; ) {
      <tr>
        <th>{{index + 1}}</th>
        <td>{{item.fullName}}</td>
        <td>{{item.loans}}</td>
        
        @if (typeRoute() != 'loans') {
          <td>
            <button class="btn btn-outline btn-primary">Mas</button>
          </td>
          <td>
            <button class="btn btn-outline btn-success">Pagar</button>
          </td>

        }@else if (typeRoute() === 'loans') {
          <td>
            <button class="btn btn-outline btn-success" [routerLink]="['/lonsEdit',item.id]" >Editar</button>
          </td>
          <td>
            <button class="btn btn-outline btn-error" (click)="onDelete(item.id)">Eliminar</button>
          </td>
        }

      </tr>
   
    }
    </tbody>
</table>
      

</div>