<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-200 m-4 sm:m-6 flex flex-col">
  
  <div class="flex flex-col md:flex-row items-center  gap-2 md:gap-4">
    <input
      type="text"
      placeholder="Buscar... "
      class="input input-sm md:input-md w-52 md:max-w-xs m-1"
      (keyup)="onSearch($event)"
    />
    <div class="tooltip tooltip-bottom md:self-center" data-tip="Puedes buscar por nombre o número de identificación.">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500" width="20" height="20" viewBox="0 0 16 16">
        <g fill="currentColor">
          <path d="M9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0M7.5 4A2.5 2.5 0 0 0 5 6.5h2a.5.5 0 0 1 .5-.5h.646a.382.382 0 0 1 .17.724L7 7.382V9h2v-.382l.211-.106A2.382 2.382 0 0 0 8.146 4z"/>
          <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6a6 6 0 1 0 0 12A6 6 0 0 0 8 2"/>
        </g>
      </svg>
    </div>
  </div>
 
  @if(!clients()?.length){
    <th>
      <div role="alert" class="alert alert-info">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
            <span> No se encuentra ou data</span>
        </div>
    </th>
  }  
  <div class="w-full overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th></th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        @if(isLoading()){
        <div class="flex justify-center items-center">
          <span class="loading loading-bars loading-xl"></span>
        </div>
        }
        @for (item of clients(); track item.id ; let index = $index;) {
          <tr>
            <th>{{ index + 1 }}</th>
            <th>{{ item.fullName | titlecase}} <th>
            <th>{{ item.loans | currency:'COP': '$': '1.2-2' }}</th>

            @if (typeRoute() != 'loans') {
              <td> 
                 <app-modal-confirmation [optionMenu]="`mas`" [detalleClient]=" item "   ></app-modal-confirmation>  
              </td>
              <td>
                <app-modal-confirmation [optionMenu]="`pay`"  [detalleClient]=" item "   (proceed)="onDelete($event)"  ></app-modal-confirmation>
              </td>
            } @else if (typeRoute() === 'loans') {
              <td>
                <button class="btn btn-success w-full sm:w-auto" [routerLink]="['/lonsEdit', item.id]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="56" stroke-dashoffset="56" d="M3 21l2 -6l11 -11c1 -1 3 -1 4 0c1 1 1 3 0 4l-11 11l-6 2"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="56;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M15 5l4 4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="8;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" stroke-width="1" d="M6 15l3 3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="6;0"/></path></g></svg>
                </button>
              </td>
              <td>
                <app-modal-confirmation [optionMenu]="`delete`" [detalleClient]="item"  (proceed)="onDelete($event)"></app-modal-confirmation>
              </td>
            }

          </tr>
        }  
      </tbody>
    </table>
  </div>
</div>
