
<form class="grid grid-cols-2 grid-rows-3 gap-5  w-96 m-6 bg-base-100 p-3 rounded-xl"
      [formGroup]="myForm"
      (submit)="onSubmit()">
  <div class="col-span-2">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Numero de Cedula</legend>
      <input 
        type="number" 
        class="input" 
        placeholder="Cedula"
        formControlName="nit" 
      />
     @if ( formUtils.isValidField(myForm, 'nit')) {
      <span class="form-text text-error">
        {{ formUtils.getFieldError(myForm, "nit") }}
      </span>
  }
   </fieldset>
  </div>

  <div class="row-start-2">
    <fieldset class="fieldset">
    <legend class="fieldset-legend">Nombre</legend>
    <input 
      type="text" 
      class="input" 
      placeholder="Nombre" 
      formControlName="fullName"
    />
    @if ( formUtils.isValidField(myForm, 'fullName')) {
      <span class="form-text text-error">
        {{ formUtils.getFieldError(myForm, "fullName") }}
      </span>
    }
   </fieldset>

  
  </div>

  <div class="row-start-2">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Correo</legend>
      <input 
        type="text" 
        class="input" 
        placeholder="Correo"
        formControlName="email" 
      />

      @if ( formUtils.isValidField(myForm, 'email')) {
      <span class="form-text text-error">
        {{ formUtils.getFieldError(myForm, "email") }}
      </span>
  }

   </fieldset>
    
  </div>

  <div class="row-start-3">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Monto a Prestar</legend>
      <input 
        type="number" 
        class="input" 
        placeholder="Monto a Prestar"
        formControlName="loans" 
      />
      @if ( formUtils.isValidField(myForm, 'loans')) {
      <span class="form-text text-error">
        {{ formUtils.getFieldError(myForm, "loans") }}
      </span>
  }
   </fieldset>
   
  </div>
  <div class="row-start-3">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Fecha de pago</legend>
      <input 
        type="date" 
        class="input"
        formControlName="payDate"
      />
      <label class="form-text text-gray-300">(Opcional)</label>
   </fieldset>
  </div>

  @if(!router.url.includes('lonsEdit')){
    <button class="btn btn-info" type="submit" >Solicitar el prestamo</button>
  }

  @if(router.url.includes('lonsEdit')){
    <button class="btn btn-success">Editar</button>
    <button class="btn btn-error" routerLink="/lonsAgg"  >Cancelar</button>
  }
 </form>
  

    