<form
  class="grid grid-cols-1 sm:grid-cols-2 gap-5 w-full max-w-xl m-6 bg-base-100 p-5 rounded-xl shadow-md"
  [formGroup]="myForm"
  (submit)="onSubmit()"
>

  <div class="sm:col-span-2">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Número de Cédula</legend>
      <input
        type="number"
        class="input w-full"
        placeholder="Cédula"
        formControlName="nit"
      />
      @if (formUtils.isValidField(myForm, 'nit')) {
        <span class="form-text text-error">
          {{ formUtils.getFieldError(myForm, 'nit') }}
        </span>
      }
    </fieldset>
  </div>

  <div>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Nombre</legend>
      <input
        type="text"
        class="input w-full"
        placeholder="Nombre"
        formControlName="fullName"
      />
      @if (formUtils.isValidField(myForm, 'fullName')) {
        <span class="form-text text-error">
          {{ formUtils.getFieldError(myForm, 'fullName') }}
        </span>
      }
    </fieldset>
  </div>


  <div>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Correo</legend>
      <input
        type="text"
        class="input w-full"
        placeholder="Correo"
        formControlName="email"
      />
      @if (formUtils.isValidField(myForm, 'email')) {
        <span class="form-text text-error">
          {{ formUtils.getFieldError(myForm, 'email') }}
        </span>
      }
    </fieldset>
  </div>


  <div>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Monto a Prestar</legend>
      <input
        type="number"
        class="input w-full"
        placeholder="Monto"
        formControlName="loans"
      />
      @if (formUtils.isValidField(myForm, 'loans')) {
        <span class="form-text text-error">
          {{ formUtils.getFieldError(myForm, 'loans') }}
        </span>
      }
    </fieldset>
  </div>


  <div>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Fecha de pago</legend>
      <input
        type="date"
        class="input w-full"
        formControlName="payDate"
      />
      <label class="form-text text-gray-400">(Opcional)</label>
    </fieldset>
  </div>

  <div class="sm:col-span-2 flex flex-col sm:flex-row gap-3 justify-end mt-2">
    @if (!router.url.includes('lonsEdit')) {
      <button class="btn btn-info w-full sm:w-auto" type="submit" [disabled]="deactivateRequestButton()">
        Solicitar el préstamo
      </button>
    }

    @if (router.url.includes('lonsEdit')) {
      <button class="btn btn-success w-full sm:w-auto" type="submit">
        Editar
      </button>
      <button class="btn btn-error w-full sm:w-auto" routerLink="/lonsAgg">
        Cancelar
      </button>
    }
  </div>
</form>

 @if(isActiveAlertError()){
    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Prestamo no Aprobado</span>
    </div>
}

@if(isActiveAlertSuccess()){
  <div role="alert" class="alert alert-success">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  <span>Prestamo Aprobado</span>
</div>
}
