<app-dashboar-cards [wallet]="adminService? adminService.user() :  null "></app-dashboar-cards> 

<div class="flex flex-col">
  <app-dashboard-list  [clients]="searchedClients ? searchedClients : clientsResource.value()" (searchOutput)="clietnSearchBy($event)"></app-dashboard-list>


  <div class="join  justify-center mb-12">
  <button class="join-item btn" (click)="prevPage()" [disabled]="disablePrev()">«</button>
  <button class="join-item btn">Page {{ currentPage() + 1 }}</button>
  <button class="join-item btn" (click)="nextPage()" [disabled]="disableNext()">»</button>

  </div>
</div>