<button class="lg:hidden fixed top-4 left-4 z-50 btn btn-square btn-ghost" onclick="document.getElementById('sidebar').classList.toggle('-translate-x-full')">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
    <path d="M3 12h18M3 6h18M3 18h18" />
  </svg>
</button>


<section id="sidebar"
  class="fixed top-0 left-0 z-40 w-60 h-screen bg-base-200 flex flex-col gap-10 transform transition-transform duration-300 ease-in-out -translate-x-full lg:translate-x-0 lg:relative">
  <div class="text-center p-4 flex flex-col items-center justify-center">
  
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512">
      <path fill="#000" d="M298.9 24.31c-14.9.3-25.6 3.2-32.7..."/>
    </svg>
    <strong class="text-2xl text-primary mt-2">LoandsApp</strong>
    <span class="text-xs text-primary">LoandsApp</span>
  </div>

  <div class="divider divider-neutral"></div>

  <ul class="menu rounded-box w-56 gap-5">
    <li>
      <a routerLink='/' routerLinkActive="router-link-active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24"><path fill="#000" d="M13 9V3h8v6zM3 13V3h8v10zm10 8V11h8v10zM3 21v-6h8v6z"/></svg>
        Panel Principal
      </a>
    </li>
    <li>
      <a routerLink='/lonsAgg' routerLinkActive="router-link-active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 16 16"><path fill="#000" d="M7 2H5a3.5 3.5 0 1 0 0 7h2v3H2.5v2H7v2h2v-2h2a3.5 3.5 0 1 0 0-7H9V4h4.5V2H9V0H7z"/></svg>
        Panel Prestamos
      </a>
    </li>
  </ul>
</section>
